body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/MashukJannatMahima/Shustho/main/shustho_bg2.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full screen height */
}

header {
    background-size: cover;
    background-position: center;
    padding: 20px 0;
}

nav {
    background-color: #00A9A4; /* Transparent black background for the nav bar */
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.logo {
    width: 30px; /* Smaller size for logo */
    position: absolute; /* Absolute positioning */
    left: 20px; /* Position from left edge */
}
header img {
    width: 30px; /* Small size for logo */
    position: absolute;
    left: 20px; /* Position from the left edge */
}
footer {
    background: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.contact-details {
    margin-bottom: 20px;
}

.contact-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-details p {
    font-size: 16px;
    margin: 5px 0;
}

