body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/MashukJannatMahima/Shustho/main/shustho_bg2.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full screen height */
}

header {
    background-size: cover;
    background-position: center;
    padding: 20px 0;
}

nav {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background for the nav bar */
    padding: 10px 0;
}

nav a {
    color: none;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.logo {
    width: 30px; /* Smaller size for logo */
    position: absolute; /* Absolute positioning */
    left: 20px; /* Position from left edge */
}
